body {
    background-color: lightgrey;
}

.container {
    max-width: 50%;
    margin: auto;
    padding-top: 2%;
}

td.field-label {
    text-align: left;
}

td.field {
    text-align: left;
    padding-left: 10%;
}

.submit-button {
    text-align: center;
    margin: auto;
}

.footer {
    position: absolute;
    bottom: 0;
}